.experts {}

.experts_card {}

.experts_card>span {
    display: inline-block;
    overflow: hidden;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: 0 12px 24px 0 rgba(51, 51, 51, 0.35);
    box-shadow: 0 12px 24px 0 rgba(51, 51, 51, 0.35);
}

.experts_card>span>img {
    width: 100%;
    height: auto;
}

.experts_card>ul {
    margin: 0px;
    padding: 12px 8px 0px 0px;
    list-style: none;
}

.experts_card>ul>li {
    line-height: 22px;
}