#main_header {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main_header * {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main_header .navbar {
    padding: 7px 15px;
}

.navbar-brand>img {
    height: 60px;
}

.navbar-brand>span {
    font-weight: 100;
    font-size: 14px;
}

.ar_name {
    display: flex;
}

.en_name {
    display: none !important;
}

[dir=ltr] .ar_name {
    display: none !important;
}

[dir=ltr] .en_name {
    display: flex !important;
}

.btn_lang {
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 0px;
    border-radius: 50%;
}

.btn_lang img {
    width: 35px;
}

li.dropdown:hover>div.dropdown-menu {
    display: inline-flex;
}

.nav-link {
    outline: none;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.nav-link::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: auto;
    bottom: -6px;
    right: 0px;
    left: 0px;
    background-color: rgb(72, 197, 181);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(72, 197, 181) !important;
}

.nav-link:hover::before,
.nav-link:focus::before {
    bottom: 0px;
}

.dropdown-menu.show {
    display: inline-flex;
}

.dropdown-menu {
    left: auto;
    right: 0px;
    padding: 8px 16px;
    margin: 0px;
    background-color: rgb(51, 51, 51);
    border: 0px;
    border-radius: 0px;
}

.dropdown-menu>div {
    min-width: 180px;
}

.dropdown-menu>div>h4 {
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    padding: 0px 0px 8px 0px;
    border-bottom: 3px solid rgb(102, 102, 102);
}

.dropdown-menu>div>ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.dropdown-menu>div>ul>li {
    text-align: right;
    line-height: 30px;
    border-bottom: 1px solid rgb(77, 77, 77);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu>div>ul>li:hover,
.dropdown-menu>div>ul>li:focus {
    margin: 0px -8px;
    padding: 0px 8px;
    background-color: rgb(77, 77, 77);
}

.dropdown-menu>div>ul>li>a {
    display: block;
    font-size: 14px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.dropdown-menu>div>ul>li:hover>a:hover,
.dropdown-menu>div>ul>li:focus>a:focus {
    text-decoration: none;
}

.form-inline .dropdown {
    width: 100%;
}

.search_bar {
    display: none;
}

.search_input {
    width: 100%;
    position: relative;
    display: block;
    background: transparent;
    padding: 0px;
}

.navbar-toggler {
    color: rgb(255, 255, 255);
}

.scroll_navbar {
    background-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
    -khtml-box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .075);
}

.scroll_navbar .navbar {
    padding: 8px 16px !important;
}

.scroll_navbar .navbar-brand>img {
    height: 40px;
}

.scroll_navbar .navbar-brand>span {
    display: none !important;
}

.scroll_navbar .nav-link {
    color: rgba(0, 0, 0, 1);
}

.scroll_navbar .dropdown-toggle::after {
    color: rgb(72, 197, 181);
}

.scroll_navbar .navbar-toggler {
    color: rgb(0, 0, 0);
}

/* breakpoint ============================== */

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-link {
        font-size: 12px;
    }
}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .navbar-brand>img {
        height: 34px;
    }

    .search_bar {
        display: block;
        font-size: 24px !important;
    }

    .search_input {
        position: absolute;
        display: none;
        left: 0px;
        right: auto;
        background-color: rgb(51, 51, 51);
        padding: 8px;
        width: auto;
    }

    .form-inline .dropdown {
        width: auto;
    }

    .btn_lang img {
        width: 28px;
    }
}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand>img {
        height: 60px;
    }
}

/* dir=ltr ============================== */
[dir="ltr"] .search_input {
    right: 0px;
    left: auto;
}